.button {
  text-transform: uppercase;
  padding: 0.9rem 1.8rem;
  font-family: inherit;
  font-size: 1.5rem;
  color: var(--color-light--3);
  background-color: transparent;
  outline: none;
  border: 0.2rem solid currentColor;
  border-radius: var(--border-radius--standard); /* Slightly rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  text-decoration: none; /* No underline for the button text */
  box-shadow: var(--box-shadow--btn);
  transition: all 0.3s ease;
}
.button:hover {
  outline: none;
  transform: translateY(-0.3rem);
}
.button:active {
  outline: none;
  transform: translateY(0.3rem) scale(0.98);
}

/* ----- ALL VARIATIONS (PROP 'type') ----- */

.button.cta {
  /* background-color: var(--color-brand-darkest); */
  background-color: rgba(24, 114, 44, 0.6);
  border: 0.2rem solid transparent;
}
.button.cta:hover {
  background-color: rgba(50, 142, 70, 0.6);
}

.button.add {
  width: 100%;
  padding: 0.6rem 1.2rem;
  color: var(--color-light--1);
  border: 0.2rem solid var(--color-light--0);
}

.delete {
  width: 4rem;
  padding: 0.6rem 1.2rem;
  color: var(--color-delete--1);
  border: 0.2rem solid var(--color-delete--2);
}

.button.submit {
  padding: 0.7rem 1.4rem;
  color: var(--color-brand-darker);
  border: 0.2rem solid var(--color-brand-darkest);
}

.button.submitLarge {
  width: 100%;
  padding: 0.7rem 1.4rem;
  color: var(--color-brand-darker);
  border: 0.2rem solid var(--color-brand-darkest);
}
