.wrapper {
  min-height: 80vh;
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;

  margin: 1.2rem auto;
  padding: var(--padding--medium);
}

.wrapper > :last-child {
  margin-top: auto;
}

.contentBox {
  display: flex;
  flex-direction: column;
}

/* ----- INPUTS ----- */

.label {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-light--2);
}

.inputNumber,
.inputText {
  width: 100%;

  padding: 0.6rem 1.2rem;

  background-color: var(--color-dark--2);

  font-family: inherit;
  font-size: 1.6rem;
  color: var(--color-light--3);

  border: 0.2rem solid var(--color-dark--0);
  border-radius: var(--border-radius--standard);

  transition: all 0.3s ease;
}

.inputNumber {
  max-width: 10rem;
}

.inputNumber:focus,
.inputText:focus {
  outline: none;
  border: 0.2rem solid var(--color-brand-darkest);
  background-color: var(--color-dark--2);
}

.inputNumber::-webkit-input-placeholder,
.inputText::-webkit-input-placeholder {
  color: var(--color-light--0);
}

.inputSelect {
  width: 100%;
  max-width: 8rem;
  height: 3.5rem;

  font-size: 1.6rem;

  padding: 0.5rem;
  border: 0.2rem solid var(--color-dark--0);
  color: var(--color-light--2);
  background-color: var(--color-dark--2);
  border-radius: var(--border-radius--standard);
}

.inputSelect:focus {
  outline: none;
  border: 0.2rem solid var(--color-brand-darkest);
  background-color: var(--color-dark--2);
}

/* ----- HEADER ----- */

.contentHeader {
  display: flex;
  flex-direction: column;
}

.headerRow {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-items: start;
  column-gap: 1.2rem;
  grid-template-columns: auto 1fr;

  margin-bottom: 1rem;
}

.headerRow.long {
  grid-template-columns: auto 1fr 6rem;
}

.headerRow.long > :nth-child(2) {
  justify-self: end;
}

/* ----- BODY ----- */

.contentBody {
  /* height: 15rem; */
  /* background-color: darkblue; */
  margin: 2.4rem 0;
}

/* ----- FOOTER ----- */

.contentFooter {
}

.footerBtnBox {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr auto;
  column-gap: 1.2rem;
  margin-bottom: 1.2rem;
}

/* ----- DESKTOP MEDIA QUERIES ----- */

@media (min-width: 600px) {
  .wrapper {
    max-width: 40rem;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 50rem;
  }
}
