.wrapper {
  /* sizes */
  width: 100vw;
  height: 100vh;
  margin: auto;

  /* additional styles */
  overflow: hidden;
  background-color: var(--color-dark--2);

  /* layout */
  display: grid;
  grid-template-rows: 6rem 1fr;
}

/* THIS MEDIA QUERY AFFECTS ALSO:
  - Navigation.module.css
  - Navigation.jsx
*/

@media (min-width: 900px) {
  .wrapper {
    /* sizes */
    width: 95vw;
    height: 95vh;

    /* additional styles */
    border-radius: var(--border-radius--standard);
    box-shadow: var(--box-shadow--standrd);
  }
}
