.wrapper {
  /* sizes */
  width: 100vw;
  height: 100vh;
  margin: auto;

  /* additional styles */
  overflow: hidden;
  background-color: var(--color-dark--2);

  /* layout */
  display: grid;
  grid-template-rows: 6rem 1fr;
}

/* ===== DEPRECATED BELOW (OLD VERSION)  ===== */

/* THIS MEDIA QUERY AFFECTS ALSO:
  - Navigation.module.css
  - Navigation.jsx
  - appWrapperSlice.js

@media (min-width: 1366px) {
  .wrapper {
    width: 98vw;
    height: 96vh;

    border-radius: var(--border-radius--standard);
    box-shadow: var(--box-shadow--standrd);
  }
}
*/
