.errorWrapper {
  width: 100%;
  max-width: 30rem;
  margin: 3.6rem auto 0 auto;

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.errorMessage {
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-wrap: balance;
  text-align: center;
}
.warning {
  font-size: 3rem;
  padding: 2rem 1rem;
  animation: shake 0.5s ease-in-out;
}

/* ----- DESKTOP MEDIA QUERIES ----- */

@media (min-width: 600px) {
  .errorWrapper {
    max-width: 40rem;
  }
}

@media (min-width: 1200px) {
  .errorWrapper {
    max-width: 50rem;
  }
}

/* ----- ANIMATIONS ----- */

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-0.5rem);
  }
  50% {
    transform: translateX(0.5rem);
  }
  75% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}
