.wrapper {
  min-height: 80vh;
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;

  margin: 1.2rem auto;
  padding: var(--padding--medium);
}

.wrapper > :last-child {
  margin-top: auto;
}
/* ----- INPUTS ----- */

.label {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-light--2);
}

.inputNumber,
.inputText {
  width: 100%;
  max-width: 10rem;
  padding: 0.6rem 1.2rem;

  background-color: var(--color-dark--2);

  font-family: inherit;
  font-size: 1.6rem;
  color: var(--color-light--3);

  border: 0.2rem solid var(--color-dark--0);
  border-radius: var(--border-radius--standard);

  transition: all 0.3s ease;
}

.inputNumber:focus,
.inputText:focus {
  outline: none;
  border: 0.2rem solid var(--color-brand-darkest);
  background-color: var(--color-dark--2);
}

.inputNumber::-webkit-input-placeholder,
.inputText::-webkit-input-placeholder {
  color: var(--color-light--0);
}

.inputSelect {
  width: 100%;
  max-width: 8rem;
  height: 3.5rem;

  font-size: 1.6rem;

  padding: 0.5rem;
  border: 0.2rem solid var(--color-dark--0);
  color: var(--color-light--2);
  background-color: var(--color-dark--2);
  border-radius: var(--border-radius--standard);
}

.inputSelect:focus {
  outline: none;
  border: 0.2rem solid var(--color-brand-darkest);
  background-color: var(--color-dark--2);
}

/* ----- HEADER ----- */

.converterHeader {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr auto 8rem;
  column-gap: var(--padding--standard);
  align-items: center;
  /* justify-items: start; */
  margin-bottom: 1.2rem;
}

.converterHeader .inputNumber,
.converterHeader .inputText {
  max-width: 8rem;
}

/* ----- BODY ----- */

.converterBody {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto 8rem;
  align-items: center;
  column-gap: 1.2rem;
  margin-bottom: 1.2rem;
}
.converterBody .inputSelect {
  justify-self: end;
}

/* ----- FOOTER ----- */

.result {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  color: var(--color-light--2);
}

.error {
  margin-top: 3.6rem;
  font-size: 1.4rem;
  color: var(--color-light--2);
  text-align: center;
  text-wrap: balance;
}

/* ----- DESKTOP MEDIA QUERIES ----- */

@media (min-width: 600px) {
  .wrapper {
    max-width: 60rem;
  }
  .converterHeader {
    grid-template-columns: 1fr auto 15rem;
  }

  .converterBody {
    grid-template-columns: auto 15rem;
  }

  .inputSelect {
    max-width: 100%;
  }

  .converterHeader .inputNumber,
  .converterHeader .inputText {
    max-width: 15rem;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 70rem;
  }
}
