/*///////////////////////////
//// Mobile-first styles ////
///////////////////////////*/

/* ----- NAVIGATION BUTTON (DEFAULT STATE) ----- */

.menuBtn {
  display: none;
}

.menuIcon {
  /* position */
  position: fixed;
  top: 2rem;
  right: 2rem;

  /* size */
  height: 4.8rem;
  width: 4.8rem;

  cursor: pointer;
}

.menuIcon .navIcon {
  position: absolute;
  background-color: var(--color-light--0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.8rem;
  height: 0.4rem;
  border-radius: 5rem;
  z-index: 10;
}

.menuIcon .navIcon::before,
.menuIcon .navIcon::after {
  content: "";
  position: absolute;
  background-color: var(--color-light--0);
  width: 4.8rem;
  height: 0.4rem;
  border-radius: 5rem;
  transition: all 0.2s ease-out;
}

.menuIcon .navIcon::before {
  top: -1.2rem;
}

.menuIcon .navIcon::after {
  top: 1.2rem;
}

/* ----- NAVIGATION BUTTON (CHECKED STATE) ----- */

.menuBtn:checked ~ .menuIcon .navIcon {
  background-color: transparent;
}

.menuBtn:checked ~ .menuIcon .navIcon::before {
  transform: rotate(-45deg);
  top: 0;
}

.menuBtn:checked ~ .menuIcon .navIcon::after {
  transform: rotate(45deg);
  top: 0;
}

/* ----- NAVIGATION ----- */

.navigation {
  /* position */
  position: fixed;
  top: 0;
  left: -22rem; /* left should be the same as width property */
  z-index: 100;

  /* sizes */
  height: 100%;
  width: 22rem;

  /* flexbox */
  display: flex;
  align-items: center;
  flex-direction: column;

  /* border */
  border: 0.2rem solid var(--color-dark--0);
  border-top-right-radius: var(--border-radius--big);
  border-bottom-right-radius: var(--border-radius--big);

  /* add styling */
  background-color: var(--color-dark--1);

  /* movement */
  transition: transform 0.2s linear;
}

.navigation:global(.opened) {
  transform: translateX(100%);
  box-shadow: var(--box-shadow--right);
}

.navigation .navLinks {
  display: flex;
  flex: 1;
  flex-direction: column;
  list-style-type: none;
}
/* 
.navigation .navItem {
  width: 100%;
} */

.navigation .navLink {
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--color-light--2);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

/* ----- DESKTOP STYLES ----- */

/* @media should be the same as the global layout media query changes  */
@media (min-width: 900px) {
  .navigation {
    /* postion - resetting to normal flow */
    position: relative;
    margin-left: auto;
    top: auto;
    left: auto;
    z-index: auto;

    /* flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;

    /* sizes */
    height: 100%;
    width: auto;

    /* border */
    border: none;
    border-radius: 0;

    /* Reset transform property */
    transform: none;
  }

  .menuBtn,
  .menuIcon {
    display: none;
  }

  .navigation .navLinks {
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
    box-shadow: none;

    /* border */
    border: none;
  }

  .navigation .navLink {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-wrap: nowrap;
    opacity: 0.7;
  }

  .navigation :global(.active) {
    opacity: 1;
  }
}
