.nav {
  position: relative;
  z-index: 10;
  padding: var(--padding--standard) var(--padding--medium);
  background-color: var(--color-dark--1);
  border-bottom: 0.1rem solid var(--color-dark--2);
  box-shadow: var(--box-shadow--standrd);

  /* flexbox */
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  justify-content: space-between;
}
