.footer {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: var(--padding--standard);
}

.copyright {
  font-size: 1rem;
  color: var(--color-light--0);
}

.link:link,
.link:visited {
  color: var(--color-light--0);
  padding: 0.1rem;
  border-bottom: 0.1rem solid currentColor;
  text-decoration: none;
}
