.disclairmer {
  padding-top: 0.6rem;
  /* background-color: slategrey; */
  text-align: center;
  text-wrap: balance;
  color: var(--color-light--0);
}

.disclaimerTitle {
  font-size: 1.3rem;
}

.disclaimerDescription {
  font-size: 1.1rem;
  /* color: var(--color-dark--0) */
}
