/* ----- MAIN STYLES ----- */

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  max-width: 30rem;
  margin: 1.2rem auto;
  padding: var(--padding--medium);
  /* background-color: violet; */
}

.formContainer > :last-child {
  margin-top: auto;
}

.title {
  color: var(--color-light--2);
  font-size: 1.7rem;
  font-weight: 800;
}

.titleSecondary {
  color: var(--color-light--0);
  font-size: 1.3rem;
  font-weight: 800;
  padding-bottom: var(--padding--medium);
}

/* ----- INPUTS ----- */

.inputNumber {
  width: 100%;
  padding: 0.6rem 1.2rem;

  background-color: var(--color-dark--2);

  font-family: inherit;
  font-size: 1.6rem;
  color: var(--color-light--3);

  border: 0.2rem solid var(--color-dark--0);
  border-radius: var(--border-radius--standard);

  transition: all 0.3s ease;
}

.inputNumber:focus {
  outline: none;
  border: 0.2rem solid var(--color-brand-darkest);
  background-color: var(--color-dark--2);
}

.inputNumber::-webkit-input-placeholder {
  color: var(--color-light--0);
}

/* ----- RECIPE HEADER ----- */

.recipeHeader {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto 1fr;
  column-gap: var(--padding--standard);
  align-items: center;
  justify-items: start;
  margin-bottom: 1.6rem;
}
.recipeHeader .inputNumber {
  max-width: 8rem;
}

.recipeHeader label {
  font-size: 1.5rem;
  font-weight: 600;
}

/* ----- RECIPE BODY ----- */
.recipeForm {
  margin-bottom: 8rem;
}

.ingredientsRowWrapper {
  border-radius: var(--border-radius--standard);
  overflow: hidden;
  margin-bottom: 0.6rem;
}

/* ----- RECIPE FOOTER ----- */

.recipeFooter {
  display: flex;
  flex-flow: column nowrap;
}
.footerBtnBox {
  margin-bottom: 3.6rem;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr auto;
  column-gap: 1.2rem;
}

.footerSubmitBtnBox {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto 1fr;
  column-gap: var(--padding--standard);
  align-items: center;
  justify-items: start;
  margin-bottom: 1.2rem;
}

.recipeFooter .inputNumber {
  max-width: 8rem;
}

.recipeFooter label {
  font-size: 1.5rem;
  font-weight: 600;
}

/* ----- DESKTOP MEDIA QUERIES ----- */

@media (min-width: 600px) {
  .formContainer {
    max-width: 40rem;
  }
}

@media (min-width: 1200px) {
  .formContainer {
    max-width: 50rem;
  }
}
