.wrapper {
  min-height: 80vh;
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;

  margin: 1.2rem auto;
  padding: var(--padding--medium);
}

.notFound {
  text-align: center;
  font-size: 2rem;
  margin: 6.4rem 0;
}

/* ----- DESKTOP MEDIA QUERIES ----- */

@media (min-width: 600px) {
  .wrapper {
    max-width: 40rem;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 50rem;
  }
}
