@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* z-indexes:
  * 10  navbar
  * 90  overlay
  * 100 navigation  */

/* SPACING SYSTEM (px):
 2, 4, 8, 12, 16, 24, 32, 48, 64, 80, 96, 128, 160, 192, 224  */

/* These CSS variables are global, so available in all CSS modules */
:root {
  --color-brand-lightest: #b5e1bf;
  --color-brand-lighter: #83c892;
  --color-brand: #56ac68;
  --color-brand-darker: #328e46;
  --color-brand-darkest: #18722c;

  --color-delete--1: #9b3638;
  --color-delete--2: #831b1d;

  --color-dark--0: #353a3a;
  --color-dark--1: #2c3035;
  --color-dark--2: #222530;
  --color-dark--3: #02080c;

  --color-light--0: #686d71;
  --color-light--1: #adb5bd;
  --color-light--2: #e2eae2;
  --color-light--3: #fafafa;

  --color-homepage-overlay--1: rgba(35, 37, 47, 1);
  --color-homepage-overlay--2: rgba(35, 37, 47, 0.7);

  --padding--standard: 1.2rem;
  --padding--medium: 2.4rem;

  --border-radius--standard: 0.8rem;
  --border-radius--big: 1.2rem;

  --box-shadow--standrd: rgba(0, 0, 0, 0.15) 0rem 1rem 2rem,
    rgba(0, 0, 0, 0.2) 0rem 0.6rem 0.6rem;
  --box-shadow--right: rgba(0, 0, 0, 0.15) 1rem 0rem 2rem,
    rgba(0, 0, 0, 0.2) 0.6rem 0rem 0.6rem;
  --box-shadow--btn: rgba(0, 0, 0, 0.1) 0rem 1rem 1.5rem -0.3rem,
    rgba(0, 0, 0, 0.05) 0rem 0.4rem 0.6rem -0.2rem;

  /* color which not change in light/dark theme: */
  --standard-light: #fafafa;
  --standard-lightgrey: #dadada;
  --standard-grey: #686d71;
}

[data-theme="light"] {
  --color-brand-lightest: #6dbe7f;
  --color-brand-lighter: #4aaa5f;
  --color-brand: #56ac68;
  --color-brand-darker: #45c761;
  --color-brand-darkest: #42bd5d;

  --color-delete--1: #f0282b;
  --color-delete--2: #d62528;

  --color-dark--0: #e7e7e7;
  --color-dark--1: #ffffff;
  --color-dark--2: #fafafa;
  --color-dark--3: #999999;

  --color-light--0: #353a3a;
  --color-light--1: #2c3035;
  --color-light--2: #222530;
  --color-light--3: #02080c;

  --color-homepage-overlay--1: rgba(255, 255, 255, 1);
  --color-homepage-overlay--2: rgba(255, 255, 255, 0.7);

  --box-shadow--standrd: rgba(0, 0, 0, 0.03) 0rem 1rem 2rem,
    rgba(190, 190, 190, 0.1) 0rem 0.6rem 0.6rem;

  --box-shadow--right: rgba(0, 0, 0, 0.05) 1rem 0rem 2rem,
    rgba(190, 190, 190, 0.1) 0.6rem 0rem 0.6rem;
  --box-shadow--btn: rgba(0, 0, 0, 0.03) 0rem 1rem 1.5rem -0.3rem,
    rgba(190, 190, 190, 0.02) 0rem 0.4rem 0.6rem -0.2rem;
}

/* ----- GLOBAL STYLING RESET ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* to make default 1rem = 10px */
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: var(--color-brand);
  background: linear-gradient(
    135deg,
    var(--color-brand-darker) 0%,
    var(--color-brand-darkest) 50%
  );
}

body {
  min-height: 100vh;

  color: var(--color-light--2);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.6;
  /* font-size: 3.6rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- FORMS ----- */

/* ----- MOBILE FIRST APPROACH ----- */

@media (min-width: 600px) {
  html {
    /* to make default 1rem = 12px */
    font-size: 75%;
  }
}

@media (min-width: 1920px) {
  html {
    /* to make default 1rem = 14px */
    font-size: 87.5%;
  }
}

@media (min-width: 2560px) {
  html {
    /* to make default 1rem = 16px */
    font-size: 100%;
  }
}

/* ----- GLOBAL STYLING FOR SELECTION ----- */

::selection {
  background: var(--color-brand-darkest);
  color: var(--color-light--3);
}

/* ----- GLOBAL STYLING SCROLLBAR STYLING ----- */

::-webkit-scrollbar {
  /* Affects vertical scrollbar */
  width: 1rem;
  /* Affects horizontal scrollbar */
  height: 1rem;
}

/* track is the entire scrollbar itself */
::-webkit-scrollbar-track {
  background: transparent;
  /* border-radius: 20px; */
  /* Top and bottom margin */
  margin-block: 0.125em;
}

/* thumb is the moving part of scrollbar */
::-webkit-scrollbar-thumb {
  background: var(--color-light--0);
  border-radius: var(--border-radius--big);
  border: 0.25rem solid var(--color-dark--2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-light--1);
}

/* Firefox Scrollbar Styling */
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--color-light--0) transparent;
    scrollbar-width: thin;
  }
}

/* ----- GLOBAL HELPER CLASSES ----- */

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

/* ----- TOASTER ----- */

.toasterContainer {
  z-index: 9;
  margin: 6.4rem;
}

.toast {
  color: var(--color-light--2);
  font-size: 1.2rem;
  background: var(--color-dark--2);
  box-shadow: var(--box-shadow--standrd);
  border: 0.2rem solid var(--color-dark--0);
  border-radius: var(--border-radius--standard);
}
