@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* These CSS variables are global, so available in all CSS modules */
:root {
  --color-brand-lightest: #b5e1bf;
  --color-brand-lighter: #83c892;
  --color-brand: #56ac68;
  --color-brand-darker: #328e46;
  --color-brand-darkest: #18722c;

  --color-dark--0: #353a3a;
  --color-dark--1: #2c3035;
  --color-dark--2: #222530;
  --color-dark--3: #02080c;

  --color-light--0: #686d71;
  --color-light--1: #adb5bd;
  --color-light--2: #e2eae2;
  --color-light--3: #fafafa;

  /* SPACING SYSTEM (px): 2, 4, 8, 12, 16, 24, 32, 48, 64, 80, 96, 128, 160, 192, 224  */

  --padding--standard: 1.2rem;
  --padding--medium: 2.4rem;

  --border-radius--standard: 0.8rem;
  --border-radius--big: 1.2rem;

  --box-shadow--standrd: rgba(0, 0, 0, 0.15) 0px 10px 20px,
    rgba(0, 0, 0, 0.2) 0px 6px 6px;
  --box-shadow--right: rgba(0, 0, 0, 0.15) 10px 0px 20px,
    rgba(0, 0, 0, 0.2) 6px 0px 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* to make default 1rem = 10px */
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: var(--color-brand);
  background: linear-gradient(
    135deg,
    var(--color-brand) 0%,
    var(--color-brand-darker) 50%
  );
}

body {
  min-height: 100vh;

  color: var(--color-light--2);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* font-size: 3.6rem; */
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

input:focus {
  outline: none;
  background-color: #fff;
}

@media (min-width: 600px) {
  html {
    /* to make default 1rem = 10px */
    font-size: 75%;
  }
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}
